# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.TrickingLibrary.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Enetix\Work\Rider\TrickingLibrary\.idea\.idea.TrickingLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
